<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="css/destinasi.css">
    <link rel="icon" href="assets/logo1.svg" type="image/svg+xml" sizes="2x2">
    <title>PigiPigi</title>
</head>
<body>
  <!-- Navbar -->
  <%- include('../partials/firstNavbar',  {page: 'dest'}); %>
  
    <div class="container">
      <br>
        <div class="row">
          <div class="col-md-9 text-left">
            <h1 class="title-heading">5 Tempat Destinasi di Bali</h1>
            <p class="content">Bali menyimpan berbagai tempat wisata yang tidak pernah habis untuk dikunjungi. Banyaknya pantai indah dan atraksi menarik yang menonjolkan budaya khas di Pulau Dewata selalu menjadi magnet para wisatawan. Semakin populernya Bali di kalangan wisatawan menjadikan banyak lokasi wisata ramai dikunjungi. Berikut adalah rekomendasi 5 tempat destinasi di Bali yang sudah buka dan dijamin tiada duanya.</p>
            
              <h3 id="1">1. Pantai Kuta</h3>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Sunset_in_Kuta.jpg/500px-Sunset_in_Kuta.jpg">
              <p class="content">Pantai Kuta adalah sebuah tempat pariwisata yang terletak di Kuta, Badung|kecamatan Kuta sebelah selatan Kota Denpasar, Bali,Indonesia Daerah ini merupakan sebuah tujuan wisata turis mancanegara dan telah menjadi objek wisata andalan Pulau Bali sejak awal tahun 1970-an. 
                Pantai Kuta sering pula disebut sebagai pantai matahari terbenam sebagai lawan dari pantai Sanur. Selain itu, Lapangan Udara I Gusti Ngurah Rai terletak tidak jauh dari Kuta.</p>
              
              <h3 id="2">2. Pura Tanah Lot</h3>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/TanahLot_2014.JPG/500px-TanahLot_2014.JPG">
              <p class="content">Pura Tanah Lot adalah salah satu Pura (Tempat Ibadah Umat Hindu) yang sangat disucikan di Bali, Indonesia. Di sini ada dua pura yang terletak di atas batu besar. Satu terletak di atas bongkahan batu dan satunya terletak di atas tebing mirip dengan Pura Uluwatu. Pura Tanah Lot ini merupakan bagian dari pura Dang Kahyangan. 
                Pura Tanah Lot merupakan pura laut tempat pemujaan dewa-dewa penjaga laut. Tanah Lot terkenal sebagai tempat yang indah untuk melihat matahari terbenam.</p>
              
              <h3 id="3">3. Pura Uluwatu</h3>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/PuraLuhurUluWatu_view.jpg/500px-PuraLuhurUluWatu_view.jpg">
              <p class="content">Pura Luhur Uluwatu atau Pura Uluwatu merupakan pura yang berada di wilayah Desa Adat Pecatu, Kecamatan Kuta Selatan, Kabupaten Badung.
                Pura yang terletak di ujung barat daya pulau Bali di atas anjungan batu karang yang terjal dan tinggi serta menjorok ke laut ini merupakan Pura Sad Kayangan yang dipercaya oleh orang Hindu sebagai penyangga dari 9 mata angin. Pura ini pada mulanya digunakan menjadi tempat memuja seorang pendeta suci dari abad ke-11 bernama Empu Kuturan. 
                Ia menurunkan ajaran Desa Adat dengan segala aturannya.</p>
              
              <h3 id="4">4. Bali Safari & Marine Park</h3>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Bali_Safari_%26_Marine_Park.jpg/500px-Bali_Safari_%26_Marine_Park.jpg">
              <p class="content">Bali Safari & Marine Park (BSMP) merupakan tempat wisata keluarga berwawasan lingkungan yang terletak di Desa Serongga, Kec. Gianyar, Kabupaten Gianyar, Bali. Bali Safari and Marine Park ini dikelola oleh Taman Safari Group yang juga mengelola Taman Safari Indonesia di Cisarua, Bogor, Jawa Barat dan Taman Safari Indonesia 2 di Prigen, Jawa Timur. 
                Seperti kedua Taman Safari sebelumnya itu, BSMP juga merupakan lembaga konservasi dan anggota dari Persatuan Kebun Binatang se-Indonesia. Satwa yang ada di BSMP adalah jenis satwa dari tiga wilayah (Indonesia, India, dan Afrika), di antaranya adalah jalak putih, burung hantu, beruang madu, harimau Sumatra, rusa tutul, beruang Himalaya, nilgai, black buck, kuda nil, 
                greavy zebra, onta punuk satu, burung unta, babbon, blue wildebeest, dan singa.</p>
  
              <h3 id="5">5. Seminyak</h3>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Seminyak_2914989422_8b6586bf59_o.jpg/500px-Seminyak_2914989422_8b6586bf59_o.jpg">
              <p class="content">Seminyak adalah kelurahan di kecamatan Kuta, Badung, Bali, Indonesia.[3]. Pantai yang terdapat di Kelurahan Seminyak antara lain Pantai KuDeTa, Pantai Seminyak (Pantai Camplung/Pantai Gado Gado), dan Pantai Double Six. Jalan yang cukup terkenal di wilayah Kelurahan Seminyak adalah Jl. Raya Seminyak, Jl. Kayu Aya (Jl. Oberoi/Jl. Laksmana), Jl. Camplung Tanduk (Jl. Dhyana Pura/Jl. Abimanyu), 
                dan Jl. By Pass Sunset Road. Kelurahan ini terdiri atas dua desa adat, yaitu Desa Adat Seminyak secara keseluruhan dan sedikit wilayah Desa Adat Kerobokan (Banjar Adat Basangkasa).</p>
            </div>
          <!-- <div class="col-md-1"></div> -->
          <div class="col-md-3">
            <div class="box">
              <h6 class="title1">Topik</h6>
              <ol>
                <li><a href="#1">Pantai Kuta</a></li>
                <li><a href="#2">Pura Tanah Lot</a></li>
                <li><a href="#3">Pura Uluwatu</a></li>
                <li><a href="#4">Bali Safari & Marine Park</a></li>
                <li><a href="#5">Seminyak</a></li>
              </ol>
            </div>
          </div>
        </div>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>    

</body>
</html>